.hidden {
  display: none; }

.left {
  text-align: left; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.inline-block {
  display: inline-block; }

.margin-top-5 {
  margin-top: 5px; }

.margin-top-10 {
  margin-top: 10px; }

.margin-top-20 {
  margin-top: 20px; }

.margin-top-30 {
  margin-top: 30px; }

.margin-bottom-10 {
  margin-bottom: 10px; }

.margin-bottom-15 {
  margin-bottom: 15px; }

.no-border-bottom {
  border-bottom: none; }

.bold {
  font-weight: 600; }

.no-hover:hover {
  background-color: transparent; }

/* --- Talus Category Colors (Dark) --- */
/* --- Chart Colors --- */
/* --- Talus Logo Colors --- */
/* --- Borders --- */
/* --- Chart Elements --- */
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px; }

rect {
  fill: steelblue; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.y.axis .tick line {
  stroke: #999;
  stroke-dasharray: 4,4; }

.y.axis .tick:first-child line {
  display: none; }

.axis-label {
  text-anchor: middle; }

.explanation-icon {
  width: 22px;
  height: 22px;
  cursor: pointer; }
  .explanation-icon.small {
    width: 20px;
    height: 20px;
    -webkit-opacity: 0.9;
    -moz-opacity: 0.9;
    opacity: 0.9; }

.arrow-icon {
  position: relative;
  top: 7px;
  width: 13px;
  height: 12px;
  -webkit-opacity: 0.78;
  -moz-opacity: 0.78;
  opacity: 0.78; }

.opacityred {
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75; }

/* ---------- Images ------------ */
.question-img,
.calc-img,
.exclamation-img {
  position: relative;
  top: -2px;
  left: 4px;
  height: 18px;
  width: 18px;
  cursor: pointer;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75; }

.collapse-arrow {
  position: relative;
  height: 11px;
  width: 9px;
  top: -1px; }

.add-new-icon,
.remove-icon {
  position: relative;
  top: -1px;
  width: 15px;
  height: 15px;
  cursor: pointer; }

.blackx-icon {
  width: 14px;
  height: 14px;
  cursor: pointer;
  -webkit-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7; }
  .blackx-icon:hover {
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8; }

.chevron {
  display: inline-block;
  position: relative;
  top: -2px;
  height: 23px;
  width: 20px;
  margin-right: 5px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-user-select: none;
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75; }
  .chevron.active {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); }

.rp-score {
  width: 24px;
  height: 24px; }

/* --- Input Page --- */
.input-container {
  max-width: 900px; }

.home-description {
  display: inline-block;
  text-align: left;
  font-size: 1.1em;
  max-width: 700px;
  margin: 20px; }

.input-section {
  border-top: 1px solid #ccc;
  background-color: #fdfdfd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e9e9e9));
  background: -webkit-linear-gradient(top, #fdfdfd, #e9e9e9);
  background: -moz-linear-gradient(top, #fdfdfd, #e9e9e9);
  background: -ms-linear-gradient(top, #fdfdfd, #e9e9e9);
  background: -o-linear-gradient(top, #fdfdfd, #e9e9e9); }
  .input-section .title {
    font-size: 1.4em;
    padding: 20px 30px 20px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .input-section .main-contents > div:last-child {
    padding-bottom: 20px; }
  .input-section .subtitle {
    font-size: 1.2em; }
  .input-section .description {
    margin-top: 10px; }
  .input-section .contents {
    margin-top: 10px; }

.input-step-num {
  display: inline-block;
  position: relative;
  top: -1px;
  padding: 0px 8px;
  border: 2px solid rgba(0, 0, 0, 0.85);
  margin-right: 5px;
  font-size: 0.85em;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box; }

.input-subsection {
  display: none;
  margin: 20px 45px 5px 45px;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 0px 0px 20px 15px; }
  .input-subsection:first-child {
    margin-top: 0px; }
  .input-subsection:nth-child(n+3) {
    margin-top: 30px; }
  .input-subsection .title {
    font-size: 1.1em; }

.pop-age-warning {
  display: none; }

.pop-age-table {
  margin-top: 5px; }
  .pop-age-table input {
    text-align: right;
    width: 90px; }
  .pop-age-table tbody td:first-child {
    position: relative;
    top: 5px;
    width: 110px; }
  .pop-age-table tbody tr:last-child td:nth-child(2) {
    text-align: right;
    position: relative;
    top: 5px;
    right: 12px; }

.pop-age-chart {
  margin-left: -65px; }

.schisto-prevalence-container .explanation-icon {
  position: relative;
  top: -1px;
  left: 10px; }

.schisto-prevalence {
  width: 70px; }

.malaria-month-container .row {
  padding: 0px 20px; }
.malaria-month-container .row > div {
  padding-top: 10px;
  text-align: center; }
.malaria-month-container .malaria-month-label {
  cursor: pointer; }

.malaria-trans-rate-select option:first-child {
  color: #3c763d; }
.malaria-trans-rate-select option:nth-child(2) {
  color: #8a6d3b; }
.malaria-trans-rate-select option:nth-child(3) {
  color: #a94442; }

.select-sep-text {
  margin: 0px 7px; }

/* --- Output Sections --- */
.output-container {
  max-width: 900px;
  padding-bottom: 50px; }
  .output-container .title {
    font-size: 1.4em; }
  .output-container .description {
    margin-top: 20px;
    max-width: 700px; }

.output-section {
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  background-color: #fdfdfd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e9e9e9));
  background: -webkit-linear-gradient(top, #fdfdfd, #e9e9e9);
  background: -moz-linear-gradient(top, #fdfdfd, #e9e9e9);
  background: -ms-linear-gradient(top, #fdfdfd, #e9e9e9);
  background: -o-linear-gradient(top, #fdfdfd, #e9e9e9); }

.output-description {
  padding: 20px 30px;
  border-bottom: 1px solid #ccc; }

/* --- Recommendation Text and Table --- */
.output-recommendation {
  font-size: 1.7em;
  margin-top: 10px; }
  .output-recommendation img {
    position: relative;
    top: -2px;
    left: 10px; }

.output-table-container {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: -20px;
  text-align: center; }
  .output-table-container .explanation-icon {
    position: absolute;
    right: -30px; }
    .output-table-container .explanation-icon:first-child {
      top: 75px; }
    .output-table-container .explanation-icon:nth-child(2) {
      top: 121px; }

.output-table {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-left: -20px; }
  .output-table thead td {
    font-size: 1.1em; }
  .output-table tbody td:first-child {
    width: 15px;
    padding-right: 0px; }
  .output-table tbody td:nth-child(2) {
    position: relative;
    top: 7px;
    padding-right: 20px;
    width: 150px;
    text-align: right;
    font-size: 1.1em; }
  .output-table tbody td:nth-child(n+3) {
    font-size: 1.8em;
    width: 100px; }
  .output-table tbody tr:nth-child(2) td:nth-child(n+3) {
    font-weight: 700; }

/* --- Percentage Chart --- */
.output-chart-container {
  text-align: center;
  margin-top: 20px; }

.output-bar-chart rect {
  stroke: rgba(0, 0, 0, 0.7); }

/* --- Timeline --- */
.output-timeline-rec-text {
  margin-top: 12px; }

.output-timeline .timeline-base {
  fill: #ddd; }
.output-timeline .timeline-seasonal-base {
  fill: lightsteelblue; }
.output-timeline .strat-marker {
  fill: #555; }
.output-timeline .strat-divider {
  stroke: rgba(0, 0, 0, 0.8); }
.output-timeline .strat-group text {
  text-anchor: end;
  font-size: 0.9em; }
.output-timeline .x.axis path {
  display: none; }
.output-timeline .y-label {
  font-size: 0.9em;
  text-anchor: end; }

/* --- Distribution Strategy Table --- */
.output-strategy-table {
  display: inline-block;
  text-align: left; }
  .output-strategy-table td:first-child {
    width: 300px; }
  .output-strategy-table td:nth-child(2) {
    text-align: right; }
  .output-strategy-table thead {
    font-weight: 600; }

/* --- Assumptions Section --- */
.assumption-section {
  display: none; }

.assumption-bar {
  padding: 5px;
  text-align: center; }
  .assumption-bar span {
    cursor: pointer; }
    .assumption-bar span:hover {
      text-decoration: underline; }
  .assumption-bar .down-arrow {
    width: 12px;
    height: 8px;
    margin: 0px 10px;
    -webkit-opacity: 0.75;
    -moz-opacity: 0.75;
    opacity: 0.75; }
    .assumption-bar .down-arrow.rotated {
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }

.assumption-contents {
  display: none; }

.background-container > div:nth-child(n+2) {
  margin-top: 20px; }
.background-container .container {
  max-width: 900px;
  padding: 0px 50px 50px;
  margin-right: auto;
  margin-left: auto; }
.background-container .container-text {
  display: none; }

.footer {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 0.9em;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  color: #555;
  background-color: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #fcfcfc, #f0f0f0);
  background: -moz-linear-gradient(top, #fcfcfc, #f0f0f0);
  background: -ms-linear-gradient(top, #fcfcfc, #f0f0f0);
  background: -o-linear-gradient(top, #fcfcfc, #f0f0f0); }
  .footer .logo-talus {
    height: 80px;
    padding-left: 50px; }
  .footer .logo-georgetown {
    height: 90px; }
  .footer .built-by {
    padding-left: 80px; }
  .footer table {
    margin: 1em auto; }

/* Header Styles */
h1 {
  color: #AA0000;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1.2rem; }

h2 {
  font-family: Helvetica;
  font-size: 1.5em;
  /*-webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;*/
  margin-bottom: 0.8rem;
  font-weight: bold; }

h3 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.25em; }

h4 {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 1.15em; }

h5 {
  font-family: Helvetica;
  font-size: 1.05em; }

h2, h3, h4, h5 {
  color: #333; }

.navbar {
  border-bottom: 1px solid #999;
  background-color: #fff;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
  background: -webkit-linear-gradient(top, #fff, #f0f0f0);
  background: -moz-linear-gradient(top, #fff, #f0f0f0);
  background: -ms-linear-gradient(top, #fff, #f0f0f0);
  background: -o-linear-gradient(top, #fff, #f0f0f0); }
  .navbar .container {
    max-width: 900px;
    /*padding: 0px 0px 50px;*/
    border: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0px; }
  @media (min-width: 768px) {
    .navbar .collapse {
      margin-right: -15px;
      margin-left: -15px; } }

.navbar .navbar-brand {
  color: #555; }

.navbar .navbar-nav > li.active, .navbar .navbar-nav > li:hover {
  background-color: #e9e9e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#e0e0e0));
  background: -webkit-linear-gradient(top, #e9e9e9, #e0e0e0);
  background: -moz-linear-gradient(top, #e9e9e9, #e0e0e0);
  background: -ms-linear-gradient(top, #e9e9e9, #e0e0e0);
  background: -o-linear-gradient(top, #e9e9e9, #e0e0e0); }

.navbar .navbar-nav > li > a {
  color: #555; }

.navbar-logo-container {
  /*	padding: 15px;*/
  display: inline;
  float: left;
  padding-top: 10px;
  padding-right: 30px; }
  .navbar-logo-container .logo,
  .navbar-logo-container .tool-name {
    display: inline-block;
    vertical-align: middle; }
  .navbar-logo-container .tool-name {
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    padding-left: 10px;
    font-size: 1.1em; }
  .navbar-logo-container .logo {
    height: 30px;
    width: 30px; }

body {
  font-family: 'Open Sans', sans-serif; }

/* --- General Elements --- */
b {
  font-weight: 600; }

ul {
  margin: 10px 0px; }

input.form-control {
  display: inline-block; }

.table,
select.form-control {
  display: inline-block;
  width: auto; }

table input.form-control {
  height: auto;
  padding: 4px 8px; }

/* --- Custom Elements --- */
.container {
  /*max-width: 900px;*/
  padding: 0px 0px 50px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; }

.description {
  display: inline-block;
  text-align: left; }

.select-label {
  display: inline-block;
  margin-right: 10px; }

.checkbox-label {
  position: relative;
  top: -2px;
  left: 4px;
  cursor: pointer; }

.warning {
  color: #a94442;
  font-style: italic; }

.next-button-container {
  display: none;
  text-align: center;
  margin-top: 20px; }

.submit-container {
  padding-top: 30px;
  border-top: 1px solid #ccc;
  text-align: center; }
  .submit-container .btn {
    font-size: 1.2em;
    padding: 8px 16px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }

#page-content {
  margin-top: 51px;
  min-height: 100px; }

/* --- Bootstrap Overrides --- */
.text-success,
.text-warning,
.text-danger {
  font-weight: 600; }

/* --- Multiselect Overrides --- */
.multiselect .caret {
  margin-left: 5px; }

/*# sourceMappingURL=main.css.map */
