@import "helpers/classes";
@import "helpers/mixins";
@import "helpers/colors";
@import "helpers/borders";
@import "components/charts";
@import "components/images";
@import "pages/input";
@import "pages/output";
@import "pages/background";
@import "components/footer";
@import "components/headers";
@import "components/navbar";

body {
  font-family: "Open Sans", sans-serif;
  color: $black;
  font-size: 16px;
  line-height: normal;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $black;
    font-family: "Raleway", sans-serif;
  }
  h1 {
    margin-top: 30px;
  }
  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }
  p {
    line-height: 22px;
  }
}

.btn {
  border: 2px solid #023f88;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: $primary-dark-blue;
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  display: inline-block;
  &:hover {
    background-color: #f4f4f4;
  }
  &:active,
  &:hover:active {
    box-shadow: 5px 5px 15px 0 #b3b3b3;
    -webkit-box-shadow: 5px 5px 15px 0 #b3b3b3;
    background-color: white;
    color: $primary-dark-blue;
    border-color: $primary-dark-blue;
  }
  cursor: pointer;
}

.btn-primary {
  background: linear-gradient(180deg, rgba(2, 63, 136, 0.85) 0%, #023f88 100%);
  color: white;
  &:hover {
    background: white;
    color: $primary-dark-blue;
  }
}
/* --- General Elements --- */
b {
  font-weight: 600;
}
ul {
  margin: 10px 0px;
}
input.form-control {
  display: inline-block;
}
.table,
select.form-control {
  display: inline-block;
  width: auto;
}
table input.form-control {
  height: auto;
  padding: 4px 8px;
}

/* --- Custom Elements --- */
.container {
  /*max-width: 900px;*/
  padding: 0px 0px 50px;
}
.description {
  display: inline-block;
  text-align: left;
}
.select-label {
  display: inline-block;
  margin-right: 10px;
}
.checkbox-label {
  position: relative;
  top: -2px;
  left: 4px;
  cursor: pointer;
}
.warning {
  color: #a94442;
  font-style: italic;
}
.next-button-container {
  display: none;
  text-align: center;
  margin-top: 20px;
}
.submit-container {
  padding-top: 30px;
  border-top: 1px solid #ccc;
  text-align: center;
  .btn {
    font-size: 1.2em;
    padding: 8px 16px;
    @include border-radius(8px);
  }
}

#page-content {
  margin-top: 90px;
}

/* --- Bootstrap Overrides --- */
.text-success,
.text-warning,
.text-danger {
  font-weight: 600;
}

/* --- Multiselect Overrides --- */
.multiselect .caret {
  margin-left: 5px;
}
