@import 'helpers/classes';
@import 'helpers/mixins';
@import 'helpers/colors';
@import 'helpers/borders';
@import 'components/charts';
@import 'components/images';
@import 'pages/input';
@import 'pages/output';
@import 'pages/background';
@import 'components/footer';
@import 'components/headers';
@import 'components/navbar';


body { font-family: 'Open Sans', sans-serif; }

/* --- General Elements --- */
b { font-weight: 600; }
ul { margin: 10px 0px; }
input.form-control { display: inline-block; }
.table,
select.form-control {
  display: inline-block;
  width: auto;
}
table input.form-control {
  height: auto;
  padding: 4px 8px;
}

/* --- Custom Elements --- */
.container {
  /*max-width: 900px;*/
  padding: 0px 0px 50px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}
.description {
  display: inline-block;
  text-align: left;
}
.select-label {
  display: inline-block;
  margin-right: 10px;
}

.dropdown-menu > li > a > label > input[type="checkbox"] {
  position: relative;
  top: -2px;
  left: -7px;
}

.checkbox-label,
label.checkbox {
  font-size: 1.25em;
  position: relative;
  top: 1.5px;
  // top: -2px;
  left: 4px;
  cursor: pointer;
}
.warning {
  color: #a94442;
  font-style: italic;
}
.next-button-container {
  display: none;
  text-align: center;
  margin-top: 20px;
  .btn {
    font-size: 1.33em;
  }
}
.submit-container {
  padding-top: 30px;
  border-top: 1px solid #ccc;
  text-align: center;
  .btn {
    font-size: 1.2em;
    padding: 8px 16px;
    @include border-radius(8px);
  }
}

#page-content {
  margin-top: 51px;
  min-height: 100px;
}

/* --- Bootstrap Overrides --- */
.text-success,
.text-warning,
.text-danger {
  font-weight: 600;
}

/* --- Multiselect Overrides --- */
.multiselect .caret { margin-left: 5px; }
