# Debug files
debug/

# Node Modules
node_modules/
.gitignore

# Project files
.settings/
.project
.pydevproject
.DS_Store
# Elastic Beanstalk Files.elasticbeanstalk/*!.elasticbeanstalk/*.cfg.yml!.elasticbeanstalk/*.global.yml

# Model outputs (only produced in debug mode)
py/output/
py/flood-model/
py/.vs/
output/
