# Output files

# Node Modules
node_modules/
.gitignore

# Project files
.project
.pydevproject
.DS_Store
# Elastic Beanstalk Files.elasticbeanstalk/*!.elasticbeanstalk/*.cfg.yml!.elasticbeanstalk/*.global.yml