.explanation-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
  &.small {
    width: 20px;
    height: 20px;
    @include opacity(0.9);
  }
}
.arrow-icon {
  position: relative;
  top: 7px;
  width: 13px;
  height: 12px;
  @include opacity(0.78);
}
.opacityred {
  @include opacity(0.75);
}
