.background-container {
  max-width: 1120px;
  padding: 0px 20px;
  margin: 0 auto;
  & > div:nth-child(n + 2) {
    margin-top: 20px;
  }

  .container {
    max-width: 700px;
    margin: 0px auto;
  }
  .container-text {
    display: none;
  }
}
