/* --- Output Sections --- */
.output-container {
  max-width: 900px;
  padding-bottom: 50px;
  .title { font-size: 1.4em; }
  .description {
    margin-top: 20px;
    max-width: 700px;
  }
}
.output-section {
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  @include gradient(#fdfdfd, #e9e9e9);  
}
.output-description {
  padding: 20px 30px;
  border-bottom: 1px solid #ccc;
}

/* --- Recommendation Text and Table --- */
.output-recommendation {
  font-size: 1.7em;
  margin-top: 10px;
  img {
    position: relative;
    top: -2px;
    left: 10px;
  }
}
.output-table-container {
  display: inline-block;
  position: relative;
  margin-top: 20px;
  margin-left: -20px;
  text-align: center;
  
  .explanation-icon {
    position: absolute;
    right: -30px;
    &:first-child { top: 75px; }
    &:nth-child(2) { top: 121px; }
  }
}
.output-table {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  margin-left: -20px;
  thead td {
    font-size: 1.1em;
  }
  tbody td:first-child {
    width: 15px;
    padding-right: 0px;
  }
  tbody td:nth-child(2) {
    position: relative;
    top: 7px;
    padding-right: 20px;
    width: 150px;
    text-align: right;
    font-size: 1.1em;
  }
  tbody td:nth-child(n+3) {
    font-size: 1.8em;
    width: 100px;
  }
  tbody tr:nth-child(2) td:nth-child(n+3) {
    font-weight: 700;
  }
}


/* --- Percentage Chart --- */
.output-chart-container {
  text-align: center;
  margin-top: 20px;
}
.output-bar-chart rect { stroke: rgba(0,0,0,0.7); }


/* --- Timeline --- */
.output-timeline-rec-text { margin-top: 12px; }
.output-timeline {
  .timeline-base { fill: #ddd; }
  .timeline-seasonal-base { fill: lightsteelblue; }
  .strat-marker { fill: #555; }
  .strat-divider { stroke: rgba(0,0,0,0.8); }
  .strat-group text {
    text-anchor: end;
    font-size: 0.9em;
  }
  .x.axis path { display: none; }
  .y-label {
    font-size: 0.9em;
    text-anchor: end;
  }
}


/* --- Distribution Strategy Table --- */
.output-strategy-table {
  display: inline-block;
  text-align: left;
  td:first-child { width: 300px; }
  td:nth-child(2) { text-align: right; }
  thead { font-weight: 600; }
}


/* --- Assumptions Section --- */
.assumption-section { display: none; }
.assumption-bar {
  padding: 5px;
  text-align: center;
  
  span {
    cursor: pointer;
    &:hover { text-decoration: underline; }
  }
  .down-arrow {
    width: 12px;
    height: 8px;
    margin: 0px 10px;
    @include opacity(0.75);
    
    &.rotated {
      @include rotate(180deg);
    }
  }
}
.assumption-contents {
  display: none;
}
